<header class="header">
    <div class="header__app-info">
        <div class="header__app-info__logo"></div>
        <div class="header__app-info__name" (click)="back()">
            Farmer project
        </div>
    </div>
    <div class="header__flex-info">
        <div class="header__flex-info__time">
            <div class="header__flex-info__time__title">Hôm nay</div>
            <div class="header__flex-info__time__value">
                04 Tháng 12, 2023
            </div>
        </div>
        <div class="header__flex-info__divide"></div>
        <div class="header__flex-info__profile">
            <div class="header__flex-info__profile__title">Nông dân</div>
            <div class="header__flex-info__profile__value">
                <div class="active-status"></div>
                <div class="name">Huy Dung</div>
            </div>
        </div>
    </div>
</header>
