@import '../../../assets/scss/sass-config.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 40px;
    background-color: $dark-blue;
    color: white;
    &__app-info {
        &__name {
            font: {
                size: 20px;
            }
        }
    }
    &__flex-info {
        display: flex;
        &__profile, &__time {
            &__title {
                color: #f8f8f8a8;
            }
            &__value {
                font: {
                    size: 15px;
                }
            }
        }
        &__profile {
            &__value {
                display: flex;
                align-items: center;
                .active-status {
                    margin-right: 10px;
                    border: 1px solid $green;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: $green;
                }
                .name {
                    display: flex;
                    align-items: center;
                }
            }
        }
        &__divide {
            border: 1px solid #f8f8f8a8;
            margin: 0 20px;
        }
    }
}