@import '../../../../../../assets/scss/sass-config.scss';

input{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    background-color: #f8f8f8;
    border: none;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
    &:focus {
        outline: none;
        padding: 0 10px;
        transition: all 0.3s ease;
        background-color: white;
        @extend %shadow;
    }
}
.notebook{
    padding: 20px;
    margin: auto;
    width: 40%;
    background-color: #E9EDF0 ;
    &__back {
        fa-icon {
            margin-right: 5px;
        }
        padding: 20px 0;
        padding-bottom: 0;
        cursor: pointer;
    }
    .heading{
        font-size: 30px;

    }
    .heading{
        margin-top: 20px;
        margin-bottom: 20px;
        // padding: 15px;
        // margin: 20px 0 20px 0;
        font-size: 30px;
        // background-color: #f8f8f8;
    }


        .infomation-title__name{
            padding: 15px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: space-between;
            background-color: #f8f8f8;
        
        }

        .infomation-title__address{
            width: 100%;
            padding: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: space-between;
            background-color: #f8f8f8;
        }

    .details{

    }

    .save-btn{
        @include button(170px,50px, $dark-blue);
        color: #f8f8f8;
        border-radius: 3px;
        margin-right: 10px;
    }
}