@import "../../../assets/scss/sass-config.scss";
.btn-box {
  padding: 5px;
  &__success {
    background-color: $green;
    color: #fff !important;
    &:hover {
      opacity: 0.6;
      color: $dark-blue !important;
    }
  }
  &__close {
    background-color: $red;
    color: #fff !important;
    &:hover {
      opacity: 0.6;
      color: $dark-blue !important;
    }
  }
}

.float-right {
  float: right !important;
}

.box-title {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: $dark-blue;
}

.text-content {
  color: #000 !important;
  &__textName {
    color: $red !important;
  }
}
