<h1 class="box-title" mat-dialog-title>Thông báo</h1>
<div mat-dialog-content>
  <p class="text-content">
    Bạn có muốn thay đổi quy trình này với ngày <br />
    <span class="text-content__textName"
      ><b>{{ project.projectStartAt }}</b></span
    >
    này không?
  </p>
</div>
<div class="float-right btn-box" mat-dialog-actions>
  <button class="btn-box__close" mat-button (click)="onNoClick()">Không</button>
  <button
    class="btn-box__success"
    mat-button
    cdkFocusInitial
    (click)="onYesClick()"
  >
    Đồng ý
  </button>
</div>
